# Run prometheus node_exporter

start on startup
console log

script
   "/opt/node_exporter/node_exporter-{{NODE_EXPORTER_VERSION}}.linux-amd64/node_exporter" "-web.listen-address=0.0.0.0:{{ NODE_EXPORTER_BIND_PORT }}"
end script
