[Unit]
Description=Run node_exporter service

[Service]
Type=simple
PIDFile=/var/run/node_exporter.pid
ExecStart="/opt/node_exporter/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter" "-web.listen-address={{ node_exporter_bind_addr }}:{{ node_exporter_bind_port }}"
